<mat-toolbar>
  <img width="150" alt="XRAI Logo" src="assets/xrai-logo.png" />
</mat-toolbar>

<div class="body">
  <div class="display">
    <div *ngIf="!imgURL" class="no-image-container">
      <span *ngIf="notSupported">Only images are supported.</span>
      <mat-icon (click)="fileUpload.click()" inline="true">add_photo_alternate</mat-icon>
    </div>
    <div *ngIf="imgURL" class="image-container" [style.backgroundImage]="'url('+imgURL+')'">
      <!-- <img *ngIf="imgURL" [src]="imgURL"> -->
    </div>
    <div class="results">
      <span *ngIf="badImage">The image quality is not good enough. Please submit a new image.</span>
      <app-gauge [percentage]="percentage"></app-gauge>
      <span *ngIf="badImage"></span>
    </div>
  </div>
  <div  class="actions">
    <button mat-icon-button color="primary" (click)="fileUpload.click()">
      <mat-icon>cloud_upload</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="reset()">
      <mat-icon>refresh</mat-icon>
    </button>
    <input #fileUpload style="display: none" type="file" accept='image/*' (change)="onFileSelected(fileUpload.files)">
    <button mat-raised-button color="primary" [disabled]="!imgURL" (click)="startAnalysis()">Submit</button>
  </div>
</div>
