:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-toolbar {
  height: 10%;
  display: flex;
  justify-content: center;
  background-color: #0A1C2B;
}

.body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  .display {
    flex-grow: 10;
    display: flex;
    .no-image-container {
      flex-basis: 0;
      flex-grow: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      mat-icon {
        font-size: 11em;
      }
    }
    .image-container {
      flex-basis: 0;
      flex-grow: 2;
      margin: 1em 0;
      display: flex;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    .results {
      flex-direction: column;
      flex-grow: 1;
      flex-basis: 0;
      display: flex;
      justify-content: space-around;
      align-items: stretch;
      border-left: 1px solid #41424ae0;
    }
    span {
      color: red;
    }
  }
  .actions {
    border-top: 1px solid #41424ae0;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

